/* Header.css */
#vertical-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #504a4a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 3%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  body {
    padding-left: 10.57%;
  }
  
  .circular-image {
    margin: 10% 0; /* Espaciado entre el título y la imagen */
    border-radius: 50%;
    overflow: hidden;
    width: 65%;
    height: 20%;
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }